<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126577058927-eljgqc6hhspamc7fn65i8345rlmlrhic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126577058927-eljgqc6hhspamc7fn65i8345rlmlrhic</string>
	<key>API_KEY</key>
	<string>AIzaSyD-n1KFwcQB3jD0djWEtkEDhsAygbGXCcw</string>
	<key>GCM_SENDER_ID</key>
	<string>126577058927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ulr-eci-a1-2.Alertes-Meteo</string>
	<key>PROJECT_ID</key>
	<string>pts3-alertes-meteo-iutlr</string>
	<key>STORAGE_BUCKET</key>
	<string>pts3-alertes-meteo-iutlr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126577058927:ios:e1ef837ebb0547b5f9199a</string>
	<key>DATABASE_URL</key>
	<string>https://pts3-alertes-meteo-iutlr.firebaseio.com</string>
</dict>
</plist>